.admin-menu-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: var(--high-blue);
    color: var(--white) !important;
    z-index: 14;
}

.filter {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
    background: var(--high-blue);
}

.border-wrapper {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 30px;
    border: 1px solid var(--light-blue);
    border-radius: 10px;
    padding: 15px;

}

.border-wrapper.full {
    flex: 1 1 auto;
}

.filter-section {
    height: 100%;
}

.filter-section.full {
    flex: 1 1 auto;
}

.filter-section-title {
    margin-bottom: 20px;
}

.filter-section-box {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 30px;
    height: 100%;
}

.filter-section-which {
    display: none;
    padding: 15px 20px;
    border: 1px solid var(--light-blue);
    border-radius: 5px;
    max-height: 250px;
    margin-bottom: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--light-blue) var(--dark-blue);
}

.filter-section-which::-webkit-scrollbar {
    width: 5px;
}

.filter-section-which::-webkit-scrollbar-thumb {
    background: var(--light-blue);
    border-radius: 10px;
}

.filter-section-which::-webkit-scrollbar-track {
    background: var(--dark-blue);
}

.check-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    user-select: none;
    margin-bottom: 10px;
    z-index: 2;
}

.check-input-wrapper>label {
    padding-left: 25px;
    z-index: 2;
}

.check-input-wrapper>input {
    display: none;
}

.check-input-tick {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 1px solid var(--light-blue);
    margin-right: 10px;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
}

.check-input-tick-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 2px;
    transition: all 0.2s ease;
}

.check-input-tick-inner>i {
    color: transparent;
    transition: all 0.2s ease;
}

.check-input-wrapper>input:checked+.check-input-tick>.check-input-tick-inner {
    background: var(--light-blue);
}

.check-input-wrapper>input:checked+.check-input-tick>.check-input-tick-inner>i {
    color: var(--white);
}

.check-input-wrapper>input[type="radio"]+.check-input-tick {
    border-radius: 50%;
}

.check-input-wrapper>input[type="radio"]+.check-input-tick>.check-input-tick-inner {
    border-radius: 50%;
}

.filter-input-wrapper {
    margin-bottom: 10px;
}

.filter-input-wrapper label {
    display: block;
    margin-bottom: 2px;
}

.filter-input-wrapper input,
.filter-input-wrapper select {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    border: 1px solid var(--light-blue);
    padding: 5px 8px;
    color: var(--white);
    border-radius: 100px;
}

.filter-input-wrapper input {
    padding: 5px 15px;
}

.filter-input-wrapper select>option {
    background: var(--dark-blue);
}

.filter-button {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background: var(--light-blue);
    color: var(--white);
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 6px 12px;
}

/* selected filters */
.selected-filters {
    display: flex;
    position: sticky;
    top: 10px;
    left: 50%;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    background: var(--high-blue);
    box-shadow: 0 0 25px 0 rgba(90, 153, 255, 0.3);
    border: 1px solid rgba(9, 174, 244, 0.5);
    padding: 15px 10px;
    border-radius: 10px;
    z-index: 2;
}

.selected-filter {
    display: block;
    cursor: pointer;
    user-select: none;
    background: var(--mid-blue);
    padding: 2px 5px 2px 10px;
    border-radius: 50px;
    transition: box-shadow 0.3s ease;
}

.selected-filter.roles {
    background: var(--light-blue);
}

.selected-filter.selectedMenus {
    background: var(--main-green);
}

.selected-filter.selectedMessages {
    background: var(--main-red);
}

.selected-filter:hover {
    box-shadow: 0px 0px 10px 0 rgba(9, 175, 244, 0.5);
}

.selected-filter i {
    margin-left: 5px;
}

.search-in-filters-wrapper {
    position: relative;
    flex: 1 1 auto;
}

.search-in-filters {
    background: transparent;
    border: none;
    outline: none;
    color: var(--white);
    width: 100%;
}

.search-in-filters-dropdown {
    display: none;
    position: absolute;
    min-width: 200px;
    background: var(--mid-blue);
    border-radius: 5px;
}

.search-in-filters-dropdown-list {
    padding: 10px;
}

.search-in-filters-dropdown-list-item {
    display: block;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.search-in-filters-dropdown-list-item:hover {
    background: var(--light-blue);
    border-radius: 5px;
}

.search-in-filters-dropdown-unavailable {
    display: none;
    position: absolute;
    padding: 10px;
    min-width: 300px;
    background: var(--mid-blue);
    border-radius: 5px;
}

/* selected tags */
.selected-tags {
    display: flex;
    position: sticky;
    top: 10px;
    left: 50%;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    background: var(--high-blue);
    box-shadow: 0 0 25px 0 rgba(90, 153, 255, 0.3);
    border: 1px solid rgba(9, 174, 244, 0.5);
    padding: 15px 10px;
    border-radius: 10px;
    z-index: 2;
}

.selected-tag {
    display: block;
    cursor: pointer;
    user-select: none;
    background: var(--mid-blue);
    padding: 2px 5px 2px 10px;
    border-radius: 50px;
    transition: box-shadow 0.3s ease;
}

.selected-tag:hover {
    box-shadow: 0px 0px 10px 0 rgba(9, 175, 244, 0.5);
}

.selected-tag i {
    margin-left: 5px;
}

.search-in-tags-wrapper {
    position: relative;
}

.search-in-tags {
    background: transparent;
    border: none;
    outline: none;
    color: var(--white);
}

.search-in-tags-dropdown {
    display: none;
    position: absolute;
    min-width: 200px;
    background: var(--mid-blue);
    border-radius: 5px;
}

.search-in-tags-dropdown-list {
    padding: 10px;
}

.search-in-tags-dropdown-list-item {
    display: block;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.search-in-tags-dropdown-list-item:hover {
    background: var(--light-blue);
    border-radius: 5px;
}

.search-in-tags-dropdown-unavailable {
    display: none;
    position: absolute;
    padding: 10px;
    min-width: 300px;
    background: var(--mid-blue);
    border-radius: 5px;
}

/* posts styles */
.posts {
    padding: 40px 0;
}

.post-card {
    border: 1px solid rgba(9, 175, 244, 0.20);
    border-radius: 10px;
    overflow: hidden;
    background: var(--high-blue);
    transition: all 0.5s ease;
}

.post-card:hover {
    box-shadow: 0 0 25px 0 rgba(12, 90, 219, 0.3);
    transform: scale(1.02);
}

.post-text .post-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px !important;
}

.post-text .post-describe {
    font-weight: 300;
    opacity: 0.5;
    margin: 0 !important;
}

.post-card .reviews {
    min-width: 60px;
    max-width: 50%;
}

.post-card .reviews .review {
    text-align: right;
    font-size: 15px;
    margin-bottom: 5px;
}

.post-card .reviews .review.likes i {
    color: var(--main-red);
}

.post-card .reviews .review.views i {
    color: var(--main-green);
}

.post-card .reviews .review.comments i {
    color: var(--light-blue);
}

.post-body {
    padding: 0 8px;
}

.post-statuses {
    display: flex;
    justify-content: space-between;
}

.post-status {
    cursor: pointer;
}

.post-status i {
    display: block;
    font-size: 22px;
}

.post-button {
    display: block;
    width: 100%;
    background: var(--mid-blue);
    color: var(--white);
    text-align: center;
    margin: 10px 0;
    padding: 5px 12px;
    border-radius: 6px;
}

.post-carousel {
    position: relative;
}

.post-carousel .owl-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    z-index: 2;
}

.post-carousel .owl-dot {
    background: transparent !important;
    border: 1px solid var(--light-blue) !important;
    border-radius: 50px;
    width: 20px;
    height: 4px;
    transition: all 0.3s ease;
}

.post-carousel .owl-dot.active {
    background: var(--light-blue) !important;
    width: 30px;
}

.priority {
    padding-top: 5px;
}

.priority-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    border-radius: 5px;
    color: rgb(25, 135, 84);
    border: 1px solid rgb(25, 135, 84);
    cursor: pointer;
    user-select: none;
}

#upload_form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    border: 2px dashed rgba(46, 213, 116, 0.3);
    border-radius: 10px;
    padding: 20px;
    min-height: 200px;
    margin-bottom: 40px;
}

#upload_form>i {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: fit-content;
    font-size: 100px;
}

#upload_form>* {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: auto;
}

#upload_form input[type="file"] {
    display: none;
}

#upload_form .file-upload-label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.uploaded-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 2px dashed rgba(12, 91, 219, 0.5);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px 20px;
}

.uploaded-file-info {
    display: flex;
    gap: 10px;
}

.uploaded-file-info>img {
    display: block;
    border: 1px solid rgba(9, 174, 244, 0.3);
    border-radius: 5px;
    width: 100px;
    max-height: 60px;
    object-fit: contain !important;
}

.uploaded-file-info i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.uploaded-file-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uploaded-file-info-text p {
    margin: 0;
}

.uploaded-file-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.uploaded-file-remove {
    color: var(--main-red);
    font-size: 30px;
}

.uploaded-file-download {
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 5px;
}

#upload_form progress {
    -webkit-appearance: none;
    appearance: none;

    border: 1px solid var(--light-blue);
    border-radius: 100px;
    background: transparent;
    color: transparent;
    overflow: hidden;
}

#upload_form progress::-webkit-progress-bar {
    background: transparent;
}

#upload_form progress::-webkit-progress-value {
    background: var(--light-blue);
}

#upload_form progress::-moz-progress-bar {
    background: transparent;
}

#upload_form #status {
    font-size: 12px;
}

#upload_form #loaded_n_total {
    font-size: 12px;
}