@media screen and (min-width: 992px) {
    .filter {
        flex-wrap: nowrap !important;
    }

    .filter-section {
        flex: 1 !important;
        width: auto !important;
    }

    .selected-filters {
        flex: 2 !important;
        width: auto !important;
    }
}